*
!.gitignore
!src
!keys/
!keys/**/*
!src/**/*
!images
!images/**/*
!LICENSE
!Makefile
!Readme.md
!Vagrantfile
!ansible.cfg
!requirements.txt
!cert-manager
!cert-manager/**/*
!inventories/**/*
!inventories
!kubespray
!kubespray/**/*
!roles/
!roles/**/*
!vagrant
!vagrant/**/*
!site.yaml
!docker/**/*
!docker
!ingress-controller/**/*
!ingress-controller
