# Backends servicos 
{% for backend in configs.haproxy_backend | default([]) %}
backend backend_{{ backend.name }}
  description {{ backend.description | default('description') }}
  mode {{ backend.mode | default('http') }}
  balance {{ backend.balance | default('leastconn') }}
  default-server check fall 3 rise 2 {% if backend.extra_defaults is defined %} {{ backend.extra_defaults }} {% endif %}

  {% for server in backend.servers | default([]) %}
  server {{ server.bind }} {{ server.bind }} {% if server.options is defined %}{% for option in server.options %}{{option}} {% endfor%}{% endif %}

  {% endfor %}

{% endfor %}
